@charset 'UTF-8';

@mixin --shorthands-text($responsively: true) {
  @include --spe(text-left, $responsively) {
    text-align: left;
    text-align-last: left;
  }
  @include --spe(text-center, $responsively) {
    text-align: center;
    text-align-last: center;
  }
  @include --spe(text-right, $responsively) {
    text-align: right;
    text-align-last: right;
  }
  @include --spe(text-justify, $responsively) {
    text-align: justify;
  }
}
