@charset 'UTF-8';

@mixin build($breakpoint, $options: (id: '', grid-columns-number: 0, gaps: ())) {
  $id: map-get($options, id);
  $grid-columns-number: map-get($options, grid-columns-number);
  $gaps: map-get($options, gaps);

  $bp: if($breakpoint == 0, '--', --#{$breakpoint});

  // Store into scoped css3 variables propers columns parameters.
  @for $i from 1 to $grid-columns-number + 1 {
    %#{$id}cols#{$bp}#{$i} {
      --#{$id}columns: #{$i};
    }
    %#{$id}col#{$bp}#{$i} {
      --#{$id}span: #{$i};
    }
    // Columns layout.
    [data-#{$id}cols*='#{$bp}#{$i}'] {
      @extend %#{$id}cols#{$bp}#{$i};
    }
    // Column sizing.
    [data-#{$id}col*='#{$bp}#{$i}'] {
      @extend %#{$id}col#{$bp}#{$i};
    }
  }
  // Store into scoped css3 variables propers gaps parameters.
  @each $key, $value in $gaps {
    %#{$id}vgap-#{$bp}#{$key} {
      --#{$id}vgap: #{$value};
    }
    %#{$id}hgap-#{$bp}#{$key} {
      --#{$id}hgap: #{$value};
    }
    [data-#{$id}gap*='#{$bp}#{$key}'] {
      @extend %#{$id}vgap-#{$bp}#{$key};
      @extend %#{$id}hgap-#{$bp}#{$key};
    }
    [data-#{$id}vgap*='#{$bp}#{$key}'] {
      @extend %#{$id}vgap-#{$bp}#{$key};
    }
    [data-#{$id}hgap*='#{$bp}#{$key}'] {
      @extend %#{$id}hgap-#{$bp}#{$key};
    }
  }
  // Global Layout rules.
  $displays: none, block, flex, grid;
  @each $display in $displays {
    %#{$id}layout-#{$bp}#{$display} {
      --#{$id}display: #{$display};
    }
    [data-#{$id}layout*='#{$bp}#{$display}'] {
      @extend %#{$id}layout-#{$bp}#{$display};
    }
  }
  %#{$id}layout-#{$bp}auto {
    --#{$id}flow: column;
  }
  [data-#{$id}layout*='#{$bp}auto'] {
    @extend %#{$id}layout-#{$bp}auto;
    > * {
      @extend %#{$id}flex-#{$bp}auto;
    }
  }
  %#{$id}layout-#{$bp}justify-space-between {
    --#{$id}justify-content: space-between;
  }
  [data-#{$id}layout*='#{$bp}justify-space-between'] {
    @extend %#{$id}layout-#{$bp}justify-space-between;
  }

  %#{$id}layout-#{$bp}justify-stretch {
    --#{$id}justify-content: stretch;
  }
  [data-#{$id}layout*='#{$bp}justify-stretch'] {
    @extend %#{$id}layout-#{$bp}justify-stretch;
  }

  %#{$id}layout-#{$bp}justify-center {
    --#{$id}justify-content: center;
  }
  [data-#{$id}layout*='#{$bp}justify-center'] {
    @extend %#{$id}layout-#{$bp}justify-center;
  }

  %#{$id}layout-#{$bp}justify-start {
    --#{$id}justify-content: flex-start;
  }
  [data-#{$id}layout*='#{$bp}justify-start'] {
    @extend %#{$id}layout-#{$bp}justify-start;
  }

  %#{$id}layout-#{$bp}justify-end {
    --#{$id}justify-content: flex-end;
  }
  [data-#{$id}layout*='#{$bp}justify-end'] {
    @extend %#{$id}layout-#{$bp}justify-end;
  }

  %#{$id}layout-#{$bp}items-stretch {
    --#{$id}align-items: stretch;
  }
  [data-#{$id}layout*='#{$bp}items-stretch'] {
    @extend %#{$id}layout-#{$bp}items-stretch;
  }

  %#{$id}layout-#{$bp}items-center {
    --#{$id}align-items: center;
  }
  [data-#{$id}layout*='#{$bp}items-center'] {
    @extend %#{$id}layout-#{$bp}items-center;
  }

  %#{$id}layout-#{$bp}items-start {
    --#{$id}align-items: flex-start;
  }
  [data-#{$id}layout*='#{$bp}items-start'] {
    @extend %#{$id}layout-#{$bp}items-start;
  }

  %#{$id}layout-#{$bp}items-end {
    --#{$id}align-items: flex-end;
  }
  [data-#{$id}layout*='#{$bp}items-end'] {
    @extend %#{$id}layout-#{$bp}items-end;
  }

  %#{$id}layout-#{$bp}self-stretch {
    --#{$id}align-self: stretch;
  }
  [data-#{$id}layout*='#{$bp}self-stretch'] {
    @extend %#{$id}layout-#{$bp}self-stretch;
  }

  %#{$id}layout-#{$bp}self-center {
    --#{$id}align-self: center;
  }
  [data-#{$id}layout*='#{$bp}self-center'] {
    @extend %#{$id}layout-#{$bp}self-center;
  }

  %#{$id}layout-#{$bp}self-start {
    --#{$id}align-self: flex-start;
  }
  [data-#{$id}layout*='#{$bp}self-start'] {
    @extend %#{$id}layout-#{$bp}self-start;
  }

  %#{$id}layout-#{$bp}self-end {
    --#{$id}align-self: flex-end;
  }
  [data-#{$id}layout*='#{$bp}self-end'] {
    @extend %#{$id}layout-#{$bp}self-end;
  }

  // Specific Flex layout.
  // Containing layout.
  %#{$id}flex-#{$bp}wrap {
    --#{$id}wrap: wrap;
  }
  [data-#{$id}flex*='#{$bp}wrap'] {
    @extend %#{$id}flex-#{$bp}wrap;
  }
  %#{$id}flex-#{$bp}no-wrap {
    --#{$id}wrap: no-wrap;
  }
  [data-#{$id}flex*='#{$bp}no-wrap'] {
    @extend %#{$id}flex-#{$bp}no-wrap;
  }
  %#{$id}flex-#{$bp}row {
    --#{$id}direction: row;
  }
  [data-#{$id}flex*='#{$bp}row'] {
    @extend %#{$id}flex-#{$bp}row;
  }
  %#{$id}flex-#{$bp}column {
    --#{$id}direction: column;
  }
  [data-#{$id}flex*='#{$bp}column'] {
    @extend %#{$id}flex-#{$bp}column;
  }
  // Contained layout.
  %#{$id}flex-#{$bp}none {
    --#{$id}flex: none;
  }
  [data-#{$id}flex*='#{$bp}none'] {
    @extend %#{$id}flex-#{$bp}none;
  }
  %#{$id}flex-#{$bp}auto {
    --#{$id}flex: 1 1 auto;
  }
  [data-#{$id}flex*='#{$bp}auto'] {
    @extend %#{$id}flex-#{$bp}auto;
  }
}
