@charset 'UTF-8';

/*
Add a specifier (--mobile for instance) to the current selector.
param $modifier modifier name
param $responsively create a specifier for each breakpoint
---
body {
  @include --spe(mobile, true) {
    background: red;
  }
}
=>
body[class*="--mobile"] {
  background: red;
}
body[class*="--xxsmobile"] {
  background: red;
}
@media screen and (min-width:376px) {
  body[class*="--xsmobile"] {
    background: red;
  }
}
@media screen and (min-width:576px) {
  body[class*="--smobile"] {
    background: red;
  }
}
...
*/
@mixin --spe($modifier, $responsively: false) {
  &[class*='--#{$modifier}'] {
    @content;
  }
  @if ($responsively == true) {
    @each $key, $size in $breakpoints {
      @include --mq($key) {
        &[class*='--#{#{$key}#{$modifier}}'] {
          @content;
        }
      }
    }
  }
}
