@charset 'UTF-8';

/*
Add a specifier (--mobile for instance) to the current selector.
param $specifier modifier name
param $responsively create a specifier for each breakpoint
---
body {
  @include --spe(mobile, true) {
    background: red;
  }
}
=>
body[data-spe*="--mobile"] {
  background: red;
}
body[data-spe*="--xxsmobile"] {
  background: red;
}
@media screen and (min-width:376px) {
  body[data-spe*="--xsmobile"] {
    background: red;
  }
}
@media screen and (min-width:576px) {
  body[data-spe*="--smobile"] {
    background: red;
  }
}
...
*/
@mixin --spe($specifier, $responsively: false, $attribute: data-spe) {
  &[#{$attribute}*='--#{$specifier}'] {
    @content;
  }
  @if ($responsively == true) {
    @each $key, $size in --var(breakpoints) {
      @include --mq($key) {
        &[#{$attribute}*='--#{#{$key}#{$specifier}}'] {
          @content;
        }
      }
    }
  }
}
