@charset 'UTF-8';

/*
Add a specifier (--mobile for instance) to the current selector.
param $specifier modifier name
param $responsively {false} create a specifier for each breakpoint
param $attribute {data-spe} define the attribute the specifier will be attached to
param $local {true} indicate if the specifier is exclusive to the current selector or if it can be used in every children
---
body {
  @include --spe(mobile, true) {
    background: red;
  }
}
=>
body[data-spe*="--mobile"] {
  background: red;
}
body[data-spe*="--xxsmobile"] {
  background: red;
}
@media screen and (min-width:376px) {
  body[data-spe*="--xsmobile"] {
    background: red;
  }
}
@media screen and (min-width:576px) {
  body[data-spe*="--smobile"] {
    background: red;
  }
}
...
*/
@mixin --spe(
  $name,
  $responsively: false,
  $attribute: --conf(specifiers-default-attribute),
  $local: true
) {
  $concatener: if($local == true, '&', '');

  #{$concatener}[#{$attribute}*='--#{$name}'] {
    @content;
  }
  @if ($responsively == true) {
    @each $key, $size in --var(breakpoints) {
      @include --mq($key) {
        #{$concatener}[#{$attribute}*='--#{#{$key}#{$name}}'] {
          @content;
        }
      }
    }
  }
}
