@charset "UTF-8";

$asterix-conf: (
  // Maximal number of columns available in a grid.
  grid-columns-number: 12,
  // Default media used in --mq media queries
  media-queries-default-media: all,
  // When set to false, all vars are set once in body, allowing scope inheritance in nested layouts.
  // When set to true, all layouts contain reseted vars, preventing any inheritance in nested layouts.
  scope-vars-in-each-layout: true,
  // Attribute that custom specifiers will use to attach to.
  specifiers-default-attribute: data-spe,
  // Enable to have scss warns
  verbose: false
) !default;

$asterix-vars: (
  breakpoints: (
    xs: 480px,
    s: 768px,
    m: 1024px,
    l: 1200px,
    xl: 1600px,
  ),
  colors: (
    default: black,
  ),
  font-families: (
    default: 'sans-serif',
  ),
  gaps: (
    0-5: 0.5rem,
    1: 1rem,
    1-5: 1.5rem,
    2: 2rem,
    3: 3rem,
  ),
  shapes: (
    default: 4px,
  ),
) !default;
